/* canvas */
.uix-tab-canvas {
  position: relative;
}
/* Control Box */
.uix-control-box {
  background-color: rgba(0,0,0,0.02);
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
  min-height: 24px;
  position: relative;
}
.uix-control-box .uix-control-box {
  margin: 0 -1px -1px;
}
.uix-control-box .uix-control-box-content {
  margin: 12px 12px;
}

.uix-tab-canvas hr {
  border: 0;
  border-top: 1px solid #e1e1e1;
  margin: 18px 0;
}
/* Control Bar */
.uix-control-bar {
  border: 1px solid #ddd;
  width: 100%;
  min-height: 24px;
}

.uix-control-bar.hover:hover {
  background-color: rgba(0, 0, 0, 0.01);
}
.uix-control-bar.active ,
.uix-control-box .uix-control-bar.active {
  background-color: rgba(255, 255, 255, 0.49);
}
.uix-control-box .uix-control-bar {
  margin: 0 0 -1px 0;
  background-color: #fff;
}
.uix-control-box > .uix-control-bar {
  margin: -1px;
}
.uix-control-bar > input {
  margin: 2px;
}
.uix-control-bar > input.block {
  box-sizing: padding-box;
  width: 100%;
}
.uix-control-bar-action > input[type="checkbox"],
.uix-control-bar-action > input[type="radio"] {
  margin: 8px;
}
.uix-control-bar .button {
  box-shadow: none;
  margin: 2px;
}
.uix-control-bar .button.button-small {
  box-shadow: none;
  margin: 4px;
}
.uix-control-bar .uix-control-bar-content .button {
  margin: -5px 0;
}
.uix-control-bar .uix-control-bar-content .button.button-small {
  margin: -3px 0;
}
.uix-control-bar .button:active {
  transform: translateY(0px);
}
.uix-control-box > .uix-control-box-content > .uix-control-bar:last-child {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
}

.uix-control-bar-action {
  display: inline-block;
  vertical-align: middle;
}
.uix-control-bar-action.left {
  border-right: 1px solid #ddd;
  float: left;
}
.uix-control-bar-action.right {
  border-left: 1px solid #ddd;
  float: right;
}
.uix-control-bar-action > .dashicons {
  line-height: 22px;
  padding: 6px;
}
.uix-control-bar-action:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.uix-control-bar-action > .dashicons:hover {
  cursor: pointer;
}

.uix-control-bar-content {
  display: inline-block;
  overflow: hidden;
  padding: 7px 12px 6px;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
/* Columns */
.uix-columns {
  margin-right: 300px;
}
.uix-columns.uix-columns-wide {
  margin-right: 600px;
}
.uix-column-left {
  position: relative;
  float: left;
  width: 100%;
}
.uix-column-right {
  position: relative;
  float: right;
  margin-right: -300px;
  width: 280px;
}
.uix-columns.uix-columns-wide .uix-column-right {
  margin-right: -600px;
  width: 580px;
}
/* Grid */
