.metabox-prefs {
  margin: 0 20px 0 -21px !important;
}
.contextual-help-tabs {
  margin: 0 0 0 23px;
  width: 172px;
}
.contextual-help-tabs .active a {
  border-color: #e1e1e1;
  color: #32373c;
  padding-left: 8px;
}
.contextual-help-tabs .active {
  background: #f4f4f4 none repeat scroll 0 0;
  border-left: 6px solid #7fbf00;
}
#contextual-help-back {
  background: #f4f4f4 none repeat scroll 0 0;
  left: 195px;
}
.contextual-help-tabs-wrap {
  padding: 10px 20px 20px;
}
.contextual-help-sidebar {
  padding: 5px 12px 20px;
}
#screen-meta-links .screen-meta-toggle {
  top: -1px;
}
.contextual-help-tabs a {
  color: #808080;
}

.wrap > h1 {
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 2, 0, 0.1), 11px 0 0 rgb(127, 191, 0) inset;
  color: #505050;
  font-weight: 300;
  margin: -10px -20px 0 -22px;
  padding: 12px 22px;
}
.page-title-action .spinner.uix-save-spinner{
  float: none;
  margin: -2px 4px 0 0;
  visibility: visible;
  display: none;
}
.page-title-action.saving {
  color: #8f8f8f;
  cursor: wait;
}
.wrap a.page-title-action.saving:hover{
  background-color: #e0e0e0;
  color: #8f8f8f;
}

nav.uix-sub-nav {
  background: #f7f7f7 none repeat scroll 0 0;
  border-radius: 0 0 0 3px;
  box-shadow: 0 1px 2px rgba(0, 2, 0, 0.05), 0 2px 2px rgba(0, 2, 0, 0.03) inset;
  margin: 0 -20px 0 0;
}
nav.uix-sub-nav > a {
  display: inline-block;
  padding: 6px 12px;
  text-decoration: none;
  color: #808080;
}

.uix-sub-nav > a.active,
.uix-sub-nav > a:hover {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 1px rgba(0, 2, 0, 0.05);
}
.uix-sub-nav > a:first-child.active ,
.uix-sub-nav > a:first-child:hover {
	border-radius: 0 0 0 3px;
}

.uix-tab-canvas {
  margin: 14px 12px 0;
  display: none;
}

.uix-tab-canvas h4 small {
  font-size: 0.9em;
  font-style: oblique;
  font-weight: normal;
  opacity: 0.7;
}

.form-table th label{
  font-size: 13px;
}