.uix-control {
  margin-bottom: 21px;
}
.uix-control-label {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 3px;
    width: 240px;
}
.uix-control-description {
    color: #808080;
    display: block;
    font-style: oblique;
    font-weight: 400;
    margin-bottom: 3px;
}
.uix-control-input {
    display: inline-block;
    min-width: 352px;
}
.uix-control.uix-control-separator {
    margin-top: 25px;
}
.uix-control-separator .uix-separator {
    border-color: #ccc;
    border-style: none none solid;
    border-width: 0 0 1px;
    margin-bottom: 2px;
    opacity: 0.7;
}
.uix-control.uix-control-separator label > span.uix-control-label {
    font-style: oblique;
    font-weight: 500;
    color: #8f8f8f;
}
