
.uix-metabox-inside {
  overflow: hidden;
}
.uix-has-tabs.uix-metabox-inside {
  background-color: #fff;
}
.uix-metabox .uix-has-tabs {
  box-shadow: 180px 0 0 #fcfcfc inset;
}
#side-sortables .uix-metabox .uix-has-tabs{
    box-shadow: none;
}
.uix-metabox-tabs {
  float: left;
  margin: 0;
  padding: 0;
  width: 180px;
  background-color: #f6f6f6;
}
.uix-metabox-tabs > li:hover {
  background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
}
#side-sortables .uix-metabox-tabs {
  display: table;
  width: 100%;
  float: none;
}
.uix-metabox-tabs li {
  display: block;
  line-height: 20px;
  margin: 0;
  padding: 0;
  position: relative;
}
#side-sortables .uix-metabox-tabs li {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #eee;
}
.uix-metabox-tabs li[aria-selected="true"]{
}
#side-sortables .uix-metabox-tabs > li:last-child {
    border-right: 0;
}
.uix-metabox-tabs li a {
  border-bottom: 1px solid #eee;
  color: #555;
  box-shadow: none;
  display: block;
  line-height: 20px !important;
  margin: 0;
  padding: 10px;
  text-decoration: none;
}
#side-sortables .uix-metabox-tabs li a {
    background-color: #f6f6f6;
}
.uix-metabox-tabs > li:last-child a {
  margin-bottom: -1px;
}
.uix-metabox-tabs li[aria-selected="true"] a {
  background-color: #fff;
  color: #555;
  font-weight: 600;
  position: relative;
  box-shadow: 3px 0 0 #ccc inset;
}
#side-sortables .uix-metabox-tabs li[aria-selected="true"] a {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 3px 0 #ccc inset;
}


#side-sortables .uix-metabox-tabs .label {
  height: 1px;
  left: -1000em;
  overflow: hidden;
  position: absolute;
  top: -1000em;
  width: 1px;
}


.uix-metabox-tabs .dashicons {
  line-height: 20px;
  margin-right: 3px;
}
.uix-metabox-sections {
  width: 100%;
}
.uix-has-tabs .uix-metabox-sections{
  border-left: 1px solid #eee;
  float: left;
  margin-left: -1px; 
  width: calc(100% - 181px);
}
#side-sortables .uix-metabox-sections{
    float: none;
    width: 100%;
    border: none;
}
.uix-has-tabs .uix-metabox-section {
  display: none;
}
.uix-has-tabs .uix-metabox-section[aria-hidden="false"] {
  display: block;
}
.uix-metabox-section > h3 {

  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 10px 12px;
}
.uix-metabox-section-content{
    padding: 6px 12px;
}

.uix-chromeless .uix-metabox-section-content{
    padding: 0;
}

.uix-has-tabs .uix-metabox-section-content{
    padding: 8px 12px 8px;
}

.uix-metabox .inside {
  margin: 0 !important;
  padding: 0;
}
.postbox.uix-chromeless {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  margin: 0 0 20px;
  padding: 0;
  box-shadow: none;
}

.uix-chromeless .uix-has-tabs.uix-metabox-inside{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 180px 0 0 #f9f9f9 inset;
    border: 1px solid #e6e6e6;
}
.postbox.uix-chromeless .inside {
    padding: 0;
}


@media only screen and ( max-width: 782px ), ( max-width: 980px ) and ( min-width: 851px ) {
    .uix-metabox-tabs { width: 48px; }

    .uix-has-tabs .uix-metabox-sections {
      width: calc(100% - 48px);
    }
    .uix-chromeless .uix-has-tabs.uix-metabox-inside {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 48px 0 0 #f9f9f9 inset;
    }
    .uix-metabox-tabs .dashicons {
        width:       24px;
        height:      24px;
        font-size:   24px;
        line-height: 24px;
        margin:      0;
    }
    .uix-metabox-tabs a {
        text-align: center;
    }

    .uix-metabox-tabs .dashicons::before {
        width:  24px;
        height: 24px;
    }

    .uix-metabox-tabs .label {
        overflow: hidden;
        position: absolute;
        top:      -1000em;
        left:     -1000em;
        width:    1px;
        height:   1px;
    }
}


.uix-control {
  margin-bottom: 21px;
}
.uix-control-label {
  display: block;
  font-weight: 600;
  margin-bottom: 3px;
}
.uix-control-description {
  color: #808080;
  display: block;
  font-style: oblique;
  font-weight: 400;
  margin-bottom: 3px;
}












.postbox.uix-chromeless .inside .uix-tab-canvas{
    display: block;
    margin: 0;
}
.postbox.uix-chromeless .handlediv.button-link,
.postbox.uix-chromeless .hndle {  
    display: none;
}
.uix-backdrop {
    background: rgba(0,0,0,0.3);
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100100;
}
.uix-modal-wrap {
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 100105;
}

.uix-modal-wrap.uix-animate{
    transform:  translate(0,0) !important;
}

.uix-modal-title {
    border-bottom: 1px solid #EFEFEF;
}

.uix-modal-closer {
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 32px;
    text-decoration: none !important;
    line-height: 0;
    border: 0;
}
.uix-modal-closer:hover {
    background-color: rgba(0,0,0,.1);
}

.uix-modal-title > h3 {
    font-weight: 400;
    margin: 0;
    padding: 12px 40px 12px 12px;
    clear: none;
    background: rgb(195, 0, 40);
    color: #fff;
}

.uix-modal-body {
    -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
    overflow: auto;
}

.uix-modal-body.has-buttons{
    bottom: 53px;
}
.uix-modal-footer {
    text-align: right;
    background: none repeat scroll 0 0 #EFEFEF;
    border-top: 1px solid #E0E0E0;
}


@media (max-width: 600px) {
    /* Small Screens */
    .uix-modal-wrap.uix-front-modal-wrap{
        bottom: 0;
        display: block;
        left: 0;
        margin: 0 !important;
        overflow: auto;
        padding: 0 !important;
        top: 0;
        width: 100% !important;
    }
}


/* EXPERIMENTAL TABS */
.uix-modal-wrap .navtabs {
    background-color: #f1f1f1;
    border-right: 1px solid #dfdfdf;
    bottom: 0;
    box-sizing: padding-box;
    float: left;
    left: 0;
    margin: 0;
    padding: 12px 0 0;
    overflow: auto;
    overflow-x: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0;
    width: 150px;
}
.uix-modal-wrap .navtabs > li{
    margin: 0;
}
.uix-modal-wrap .navtabs > li:hover{
    background-color: #dfdfdf;
}
.uix-modal-wrap .navtabs > li a {
    color: rgb(175, 175, 0);
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    text-overflow: ellipsis;  
    overflow: hidden;
}
.uix-modal-body.has-tabs {
    margin-left: 150px;
}
.uix-modal-wrap .navtabs > li.selected > a {
    background: none repeat scroll 0 0 rgb(175, 175, 0);
    color: #fff !important;
}

.uix-sticky-modal{
    z-index: 100099;
    position: fixed;
}
.uix-sticky-modal > .uix-modal-title{ cursor: pointer; }
.uix-sticky-modal.bottom-left{ bottom: 0; left: 0; }
.uix-sticky-modal.bottom-right{ bottom: 0; right: 0; }
.uix-sticky-modal.top-left{ top: 0; left: 0; }
.uix-sticky-modal.top-right{ top: 0; right: 0; }

.uix-sticky-modal.top-left .uix-modal-title ,
.uix-sticky-modal.top-right .uix-modal-title {
    border-bottom: 0;
    border-top: 1px solid #EFEFEF;
}


