
.uix-modal-wrap .spinner.loading {
    background-position: center center;
    display: inline-block;
    float: none;
    height: auto;
    position: absolute;
    width: auto;
}

/* MODALS */
html.has-uix-modal-{
    overflow: hidden;
}
body{
    overflow-y: scroll;
}
.uix-backdrop {
    background: rgba(0,0,0,0.3);
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100100;
}
.uix-modal-wrap {
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 100105;
}

.uix-modal-wrap.uix-animate{
    transform:  translate(0,0) !important;
}

.uix-modal-closer {
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 32px;
    text-decoration: none !important;
    line-height: 0;
    border: 0;
    height: 7px;
}
.uix-modal-closer:hover {
    background-color: rgba(0,0,0,.1);
    color: #fff;
}

.uix-modal-title > h3 {
    font-weight: 400;
    margin: 0;
    padding: 12px 40px 12px 12px;
    clear: none;
    background: rgb(195, 0, 40);
    color: #fff;
}

.uix-modal-body {
    -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
    overflow: auto;
}

.uix-modal-body.has-buttons{
    bottom: 53px;
}
.uix-modal-footer {
    text-align: right;
    background: none repeat scroll 0 0 #EFEFEF;
    border-top: 1px solid #E0E0E0;
}


@media (max-width: 600px) {
    /* Small Screens */
    .uix-modal-wrap.uix-front-modal-wrap{
        bottom: 0;
        display: block;
        left: 0;
        margin: 0 !important;
        overflow: auto;
        padding: 0 !important;
        top: 0;
        width: 100% !important;
    }
}



.uix-sticky-modal{
    z-index: 100099;
    position: fixed;
}
.uix-sticky-modal > .uix-modal-title{ cursor: pointer; }
.uix-sticky-modal.bottom-left{ bottom: 0; left: 0; }
.uix-sticky-modal.bottom-right{ bottom: 0; right: 0; }
.uix-sticky-modal.top-left{ top: 0; left: 0; }
.uix-sticky-modal.top-right{ top: 0; right: 0; }

.uix-sticky-modal.top-left .uix-modal-title ,
.uix-sticky-modal.top-right .uix-modal-title {
    border-bottom: 0;
    border-top: 1px solid #EFEFEF;
}




.uix-modal-content {
    box-sizing: padding-box;
    height: 100%;
}

.uix-modal-footer .uix-control{
    display: inline-block;
    margin: 0;
}

.uix-modal-footer .uix-control.uix-control-separator{
    position: relative;
    width:23px;
}
.uix-modal-footer .uix-control.uix-control-separator label{
    display: none;
}
.uix-modal-footer .uix-control.uix-control-separator .uix-control-input::before{
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    bottom: -21px;
    content: "";
    display: inline-block;
    left: 12px;
    position: absolute;
    top: -13px;
    width: 1px;
}
.uix-modal-footer .uix-control-input {
    min-width: auto;
}
.uix-modal-footer .uix-control.uix-control-separator hr{
    display: none;
}
.uix-modal-body .uix-control-text .uix-control-input {
    min-width: 100%;
    width: 100%;
}
.uix-modal-body .uix-control-input input.regular-text{
    width: 100%;
}
.uix-modal-content > .uix-has-tabs.uix-panel-inside {
    background-color: #fff;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}
.uix-modal-body .uix-modal-sections {
    box-sizing: padding-box;
    height: 100%;
    overflow: auto;
    padding: 12px;
}
.uix-modal-content > .uix-has-tabs.uix-panel-inside{
    border: none;
}
.uix-modal-tabs.uix-panel-tabs {
    height: 100%;
    overflow: auto;
}
.uix-top-tabs .uix-modal-tabs.uix-panel-tabs {
    height: auto;
    margin-top: -3px;
}
.uix-modal-body .uix-top-tabs .uix-modal-sections {
    top: 38px;
    height: auto;
    bottom: 0;
    overflow: auto;
    position: absolute;
}
.uix-modal-body .uix-control-separator .uix-control-label {
    width: 120px;
}
.uix-modal-footer .uix-control-label {
    margin: 3px 6px 0 0;
    width: auto;
}

.uix-modal-wrap .notice.error {
    box-shadow: 0 5px 21px rgba(0, 0, 0, 0.3);
    left: 0;
    position: absolute;
    right: 0;
    top: 37px;
}


.uix-modal-wrap.processing > .uix-modal-body{
    position: relative;
}
.uix-modal-wrap.processing > .uix-modal-body{
    min-width: 200px;
    min-height: 200px;
}
.uix-modal-wrap.processing > .uix-modal-body > .uix-modal-content{
    opacity: 0.5;
}
.uix-modal-wrap > .uix-modal-body:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 70px;
    margin: -35px 0 0 -35px;
    z-index: 100001;
    opacity: 0;
    visibility: hidden;

}
.uix-modal-wrap.processing > .uix-modal-body:after {
    opacity: 1;
    visibility: visible;
}