.uix-repeat {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: 37px 0 0 #f5f5f5 inset, 38px 0 0 #ddd inset;
    margin: 0 0 6px;
    padding: 12px 12px 12px 62px;
    position: relative;
}
.uix-repeat .uix-repeat {
    box-shadow: 37px 0 0 #eeeeee inset, 38px 0 0 #ddd inset;
    margin: 0 -13px -1px -25px;
}
.button.button-small.uix-remover {
    padding: 1px 2px;
    left: 6px;
    position: absolute;
    top: 6px;
}

.uix-repeat .uix-control-label {
    width: 130px;
}
.uix-repeat .uix-repeat .uix-control-label {
    width: 94px;
}

.repeatable-footer {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 6px;
}
.uix-repeat .repeatable-footer {
    margin: 0 -13px -13px -25px;
}