
.uix-control {
  margin-bottom: 21px;
}
.uix-control-label {
  display: block;
  font-weight: 600;
  margin-bottom: 3px;
}
.uix-control-description {
  color: #808080;
  display: block;
  font-style: oblique;
  font-weight: 400;
  margin-bottom: 3px;
}


