.uix-post-relation {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.uix-post-relation-item {
    border: 1px solid #ddd;
    margin-bottom: -1px;
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
}
.uix-post-relation-item:last-child{
    box-shadow: none;
    margin-bottom: 0;
}

.uix-post-relation-item .uix-post-relation-add,
.uix-post-relation-item .uix-post-relation-remover {
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    color: #ddd;
    cursor: pointer;
    display: inline-block;
    line-height: 21px;
    padding: 3px;
}
.uix-post-relation-item .uix-post-relation-add{
    line-height: 26px;
}
.uix-post-relation-item .uix-post-relation-add:hover,
.uix-post-relation-item .uix-post-relation-remover:hover {
    background-color: #fff;
    color: #707070;
}
.uix-relation-name {
    display: inline-block;
    padding: 4px 4px 3px 6px;
}
.uix-post-relation-footer {
    background: #f6f6f6 none repeat scroll 0 0;
    box-shadow: 0 0 0 1px #ddd inset;
    box-sizing: padding-box;
    display: inline-block;
    margin-top: -1px;
    padding: 6px;
    width: 100%;
}
.uix-post-relation-panel {
    border: 1px solid #ddd;
    border-top:0;
    display: none;
    padding: 6px;
}
.uix-post-relation-panel > [type="search"]{
    width: 100%;
    margin: 0;
}

.uix-post-relation-results > .uix-post-relation-item:first-child {
    border-top: 1px solid #ddd;
    margin-top: 6px;
}

.uix-post-relation-pager {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 4px;
}
.uix-post-relation-count {
    display: inline-block;
    padding: 3px 12px;
}
.uix-post-relation-page.button.button-small {
    padding: 1px;
}
.uix-post-relation-no-results {
    color: #9f9f9f;
    font-style: italic;
    padding: 6px 0 0;
}